
@model List<Combined>

<h2 class="text-center mb-4">Suspects Dashboard</h2>

<table class="table">
    <thead>
        <tr>
            <th>Suspect ID</th>
            <th>Name</th>
            <th>Criminal Records</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var suspect in Model)
        {
            <tr>
                <td>@suspect.Suspect.SuspectId</td>
                <td>@suspect.Suspect.FirstName</td>
                <td>@suspect.TotalOffenses</td>
            </tr>
        }
    </tbody>
</table>
